################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FA.JustBlog/.vs/FA.JustBlog/v16
/FA.JustBlog/FA.JustBlog.Core/bin/Debug
/FA.JustBlog/FA.JustBlog.Core/obj/Debug
/FA.JustBlog/packages/EntityFramework.6.2.0
/FA.JustBlog/FA.JustBlog.Presentation/bin
/FA.JustBlog/FA.JustBlog.Presentation/obj/Debug
